$black: #242424;
$white: #fff;

// Scheme 1
// $color1: #A0C5E8;
// $color2: #5c8dbb;
// $color3: #144878;
// $color4: #0c3861;

// Scheme 2
$color1: rgb(64, 0, 255);
$color2: rgb(44, 0, 177);
$color3: rgba(255, 0, 232, 0.3);
$color4: rgba(184, 0, 169, 0.3);



$gradient1: linear-gradient(to right,rgba(65, 0, 255, 0.4), rgba(255, 0, 232, 0.3));