$black: #242424;
$white: #fff;
$color1: #A0C5E8;
$color2: #5c8dbb;
$color3: #144878;

.h1 {
    font-size: 2rem;
}

.h2 {
    font-size: 1.6rem;
}

.h3 {
    font-size: 1.4rem;
}

.h4 {
    font-size: 1.2rem;
}